<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="#">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="#">Sản phẩm</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Khách hàng</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Catalog & Báo gía</a>
                                    </li>
                                    <li class="dropdown ">
                                        <a href="#">Tin tức</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">CSKH</a>
                                    </li>
                                    <li class="current-menu">
                                        <a href="#">Tuyển dụng</a>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>


                        <div class="header-act">
                            <div class="header-search">

                                <div class="search-desktop">
                                    <div class="search-title">
                                        <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-search-icon">
                                    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                                    <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                </div>
                            </div>

                            <div class="header-lang">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/svg/icon-lang.svg">VN
                                        </option>
                                        <option value="EN" data-thumbnail="img/svg/icon-lang.svg">EN
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banners banners-page sec-70">
                <div class="container">
                    <div class="banner-wrapper">
                        <h3 class="banner-title tt-48 f-bold">
                            Tuyển dụng
                        </h3>

                        <div class="breadcrumb">
                            <ul class="breadcrumb-menu">
                                <li class="breadcrumb-list">
                                    <a href="home.html">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-list">
                                    <a href="#">Tuyển dụng</a>
                                </li>
                                <li class="breadcrumb-list current">
                                    <a href="#"> Tư vấn nhân sự</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <section class="post-detail custommer-pro sec-60">
                <div class="container">
                    <div class="post-wrapper">
                        <div class="columns">
                            <div class="column post-tx">
                                <div class="post-recruit">
                                    <div class="mona-img img-w-100 mt-0">
                                        <img src="./img/post-recruit.png" alt="post-recruit.png">
                                    </div>

                                    <h3 class="recruit-title tt-36 f-bold main-cl">
                                        Tư vấn nhân sự
                                    </h3>

                                    <div class="recruit-act">
                                        <div class="recruit-cl">
                                            <div class="recruit-icon">
                                                <img src="./img/svg/icon-clock-1.svg" alt="icon-clock-1.svg">
                                            </div>
                                            <div class="recruit-text">
                                                <p class="recruit-ti">
                                                    Hạn nộp
                                                </p>
                                                <p class="recruit-t f-bold">
                                                    21/10/2021
                                                </p>
                                            </div>
                                        </div>
                                        <div class="recruit-cl">
                                            <div class="recruit-icon">
                                                <img src="./img/svg/icon-coin.svg" alt="icon-coin.svg">
                                            </div>
                                            <div class="recruit-text">
                                                <p class="recruit-ti">
                                                    Mức lương
                                                </p>
                                                <p class="recruit-t f-bold">
                                                    Thoả thuận
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mona-content">
                                        <div class="mona-text">
                                            <h4>
                                                Mô tả công việc
                                            </h4>
                                            <ul>
                                                <li>
                                                    Fusce suscipit lobortis lobortis. Sed fringilla luctus felis in
                                                    fringilla. Suspendisse porta libero enim, sed tempus lacus eleifend
                                                    vel.
                                                    Vestibulum interdum ornare ex. Integer et vestibulum purus. In in
                                                    mauris
                                                    nec dolor ullamcorper lobortis. Duis ut euismod nisl, id efficitur
                                                    nunc.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                                                    eu
                                                    purus lectus. Pellentesque ultricies lacus nec quam tincidunt, sit
                                                    amet
                                                    interdum nisi laoreet.
                                                </li>

                                                <li>
                                                    Fusce finibus fermentum libero nec cursus. Praesent eget enim id
                                                    risus
                                                    feugiat vestibulum. Ut ultricies, enim nec mattis semper, ante diam
                                                    tristique lectus, condimentum maximus leo ipsum in ipsum. Fusce
                                                    pharetra
                                                    eleifend vulputate. Aliquam nec volutpat quam, a eleifend velit.
                                                    Duis
                                                    malesuada faucibus lobortis.
                                                </li>

                                                <li>
                                                    Sed tincidunt cursus orci. Pellentesque gravida blandit ultrices.
                                                    Praesent venenatis dolor vel ipsum tristique ultricies. Maecenas
                                                    odio
                                                    mauris, egestas eu sem quis, posuere elementum orci. Quisque
                                                    commodo,
                                                    tellus quis venenatis venenatis, purus purus ornare risus, eget
                                                    efficitur mauris quam id lacus.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mona-text">
                                            <h4>
                                                Quyền lợi
                                            </h4>
                                            <ul>
                                                <li>
                                                    Fusce suscipit lobortis lobortis. Sed fringilla luctus felis in
                                                    fringilla. Suspendisse porta libero enim, sed tempus lacus eleifend
                                                    vel.
                                                    Vestibulum interdum ornare ex. Integer et vestibulum purus. In in
                                                    mauris
                                                    nec dolor ullamcorper lobortis. Duis ut euismod nisl, id efficitur
                                                    nunc.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                                                    eu
                                                    purus lectus. Pellentesque ultricies lacus nec quam tincidunt, sit
                                                    amet
                                                    interdum nisi laoreet.
                                                </li>

                                                <li>
                                                    Fusce finibus fermentum libero nec cursus. Praesent eget enim id
                                                    risus
                                                    feugiat vestibulum. Ut ultricies, enim nec mattis semper, ante diam
                                                    tristique lectus, condimentum maximus leo ipsum in ipsum. Fusce
                                                    pharetra
                                                    eleifend vulputate. Aliquam nec volutpat quam, a eleifend velit.
                                                    Duis
                                                    malesuada faucibus lobortis.
                                                </li>

                                                <li>
                                                    Sed tincidunt cursus orci. Pellentesque gravida blandit ultrices.
                                                    Praesent venenatis dolor vel ipsum tristique ultricies. Maecenas
                                                    odio
                                                    mauris, egestas eu sem quis, posuere elementum orci. Quisque
                                                    commodo,
                                                    tellus quis venenatis venenatis, purus purus ornare risus, eget
                                                    efficitur mauris quam id lacus.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mona-text">
                                            <h4>
                                                Yêu cầu công việc
                                            </h4>
                                            <ul>
                                                <li>
                                                    Fusce suscipit lobortis lobortis. Sed fringilla luctus felis in
                                                    fringilla. Suspendisse porta libero enim, sed tempus lacus eleifend
                                                    vel.
                                                    Vestibulum interdum ornare ex. Integer et vestibulum purus. In in
                                                    mauris
                                                    nec dolor ullamcorper lobortis. Duis ut euismod nisl, id efficitur
                                                    nunc.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                                                    eu
                                                    purus lectus. Pellentesque ultricies lacus nec quam tincidunt, sit
                                                    amet
                                                    interdum nisi laoreet.
                                                </li>

                                                <li>
                                                    Fusce finibus fermentum libero nec cursus. Praesent eget enim id
                                                    risus
                                                    feugiat vestibulum. Ut ultricies, enim nec mattis semper, ante diam
                                                    tristique lectus, condimentum maximus leo ipsum in ipsum. Fusce
                                                    pharetra
                                                    eleifend vulputate. Aliquam nec volutpat quam, a eleifend velit.
                                                    Duis
                                                    malesuada faucibus lobortis.
                                                </li>

                                                <li>
                                                    Sed tincidunt cursus orci. Pellentesque gravida blandit ultrices.
                                                    Praesent venenatis dolor vel ipsum tristique ultricies. Maecenas
                                                    odio
                                                    mauris, egestas eu sem quis, posuere elementum orci. Quisque
                                                    commodo,
                                                    tellus quis venenatis venenatis, purus purus ornare risus, eget
                                                    efficitur mauris quam id lacus.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="box-cv">
                                        <a href="#popup-cv" class="popup-title submit-cv t-uppercase f-bold tt-16">
                                            Nộp CV
                                        </a>

                                        <!-- popup CV -->
                                        <div id="popup-cv" class="mfp-hide white-popup-block block-cv">
                                            <form action="#">
                                                <h3 class="application-title tt-36 main-cl f-bold t-center">
                                                    Nộp đơn ứng tuyển
                                                </h3>
                                                <div class="applica-form">
                                                    <div class="applica-group">
                                                        <div class="applica-f">
                                                            <label class="label">
                                                                Họ và tên
                                                            </label>
                                                            <input type="text" class="f-control">
                                                        </div>
                                                        <div class="applica-f">
                                                            <label class="label">
                                                                Vị trí ứng tuyển
                                                            </label>
                                                            <input type="text" class="f-control">
                                                        </div>
                                                    </div>
                                                    <div class="applica-group">
                                                        <div class="applica-f">
                                                            <label class="label">
                                                                Số điện thoại
                                                            </label>
                                                            <input type="text" class="f-control">
                                                        </div>
                                                        <div class="applica-f">
                                                            <label class="label">
                                                                Email
                                                            </label>
                                                            <input type="text" class="f-control">
                                                        </div>
                                                    </div>
                                                    <div class="applica-file">
                                                        <div class="file-box">
                                                            <p class="tt-16 file-t">
                                                                Upload thư tuyển dụng (định dạng PDF, tối đa 5Mb)
                                                            </p>
                                                            <label class="file-f">
                                                                <input type="file" required />
                                                                <span>Chọn tập tin</span>
                                                            </label>
                                                        </div>
                                                        <div class="file-box">
                                                            <p class="tt-16 file-t">
                                                                Upload CV của bạn (định dạng PDF, tối đa 5Mb)
                                                            </p>
                                                            <label class="file-f">
                                                                <input type="file" required />
                                                                <span>Chọn tập tin</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <button class="btn f-submit">
                                                        Nộp Đơn
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column sibar" data-aos="fade-left">
                                <div class="post-inner">
                                    <div class="box-search">
                                        <h4 class="search-title tt-18 f-bold t-capitalize">
                                            <img src="./img/svg/icon-search-1.svg" alt="icon-search-1.svg">
                                            Tìm kiếm
                                        </h4>
                                        <form action="#">
                                            <div class="search-f">
                                                <input type="text" class="f-control"
                                                    placeholder="Nhập từ khóa tìm kiếm">

                                                <button type="submit" class="f-submit btn">
                                                    <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                                </button>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="category">
                                        <div class="cate-box">
                                            <h4 class="cate-title tt-18 f-bold t-capitalize">
                                                <img src="./img/svg/icon-options-lines.svg"
                                                    alt="icon-options-lines.svg">
                                                Danh Mục
                                            </h4>
                                            <ul class="cate-content">
                                                <li class="cate-item">
                                                    <a href="#" class="cate-link tt-16 active">
                                                        Tư vấn nhân sự
                                                    </a>
                                                </li>
                                                <li class="cate-item">
                                                    <a href="#" class="cate-link tt-16">
                                                        Tư vấn nhân sự
                                                    </a>
                                                </li>
                                                <li class="cate-item">
                                                    <a href="#" class="cate-link tt-16">
                                                        Tư vấn nhân sự
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-featured">
                                        <h4 class="news-tt tt-16 t-capitalize">
                                            <img src="./img/svg/icon-newspaper.svg" alt="icon-newspaper.svg">
                                            Tin tức nổi bật
                                        </h4>
                                        <div class="news-cont">
                                            <div class="news-tem">
                                                <div class="news-img">
                                                    <a href="#">
                                                        <img src="./img/img-news-fea-1.png" alt="img-news-fea-1.png">
                                                    </a>
                                                </div>
                                                <div class="news-tet">
                                                    <a href="#" class="news-t f-bold">
                                                        Tư vấn nhân sự
                                                    </a>
                                                    <div class="news-at">
                                                        <div class="news-time tt-12">
                                                            <img src="./img/svg/icon-clock.svg" alt="icon-clock.svg">
                                                            8h
                                                        </div>
                                                        <p class="tt-12 t-uppercase news-p">
                                                            OVI CABLE
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-tem">
                                                <div class="news-img">
                                                    <a href="#">
                                                        <img src="./img/img-news-fea-1.png" alt="img-news-fea-1.png">
                                                    </a>
                                                </div>
                                                <div class="news-tet">
                                                    <a href="#" class="news-t f-bold">
                                                        Tư vấn nhân sự
                                                    </a>
                                                    <div class="news-at">
                                                        <div class="news-time tt-12">
                                                            <img src="./img/svg/icon-clock.svg" alt="icon-clock.svg">
                                                            8h
                                                        </div>
                                                        <p class="tt-12 t-uppercase news-p">
                                                            OVI CABLE
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-tem">
                                                <div class="news-img">
                                                    <a href="#">
                                                        <img src="./img/img-news-fea-1.png" alt="img-news-fea-1.png">
                                                    </a>
                                                </div>
                                                <div class="news-tet">
                                                    <a href="#" class="news-t f-bold">
                                                        Tư vấn nhân sự
                                                    </a>
                                                    <div class="news-at">
                                                        <div class="news-time tt-12">
                                                            <img src="./img/svg/icon-clock.svg" alt="icon-clock.svg">
                                                            8h
                                                        </div>
                                                        <p class="tt-12 t-uppercase news-p">
                                                            OVI CABLE
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-support">
                                        <div class="support-img">
                                            <img src="./img/img-support.png" alt="img-support.png">
                                        </div>
                                        <div class="support-content">
                                            <h4 class="support-tt f-bold tt-16">
                                                Bạn cần hỗ trợ
                                            </h4>
                                            <p class="support-desc tt-16">
                                                Gọi ngay cho chúng tôi
                                                để được hỗ trợ tư vấn
                                            </p>
                                            <a href="#" class="support-link tt-16">
                                                Liên hệ
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="footer">
            <div class="footer-main sec-50">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column ft-if">
                                <div class="ft-info">
                                    <div class="ft-inner">
                                        <div class="ft-logo img-h-100">
                                            <a href="#">
                                                <img src="./img/logo-footer.png" alt="logo-footer.png">
                                            </a>
                                        </div>

                                        <div class="box-social">
                                            <a href="#" class="social-item">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="social-item">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="social-item">
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="ft-information">
                                        <h4 class="ft-tt f-bold tt-18 t-uppercase">
                                            CÔNG TY TNHH OVI CABLE (VIỆT NAM)
                                        </h4>
                                        <ul class="ft-list-text">
                                            <li class="ft-item">
                                                Nhà máy : <a href="#" class="ft-link">
                                                    Lô E-4A1 & lô E-4B-CN, Đường NA2, KCN Mỹ Phước 2, Thị Xã Bến
                                                    Cát,
                                                    Tỉnh Bình Dương, Việt Nam.
                                                </a>
                                            </li>
                                            <li class="ft-item">
                                                Tel : <a href="tel:+84274355368384" class="ft-link">(84) 274 3553
                                                    683/84</a> - <a href="tel:+842743553886" class="ft-link">(84) 274
                                                    3553 886</a>
                                            </li>
                                            <li class="ft-item">
                                                Fax : <a href="tel:+842743553685" class="ft-link"> (84) 274 3553 685</a>
                                            </li>

                                            <li class="ft-item">
                                                MST : 3700755594
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="column ft-tx">
                                <div class="ft-box">
                                    <div class="ft-address">
                                        <div class="ft-tab ft-tab-mobi">
                                            <div class="ft-tab-tt">
                                                <div class="ft-tab-link">
                                                    <div class="ft-tab-title active">
                                                        <p>Hồ Chí Minh</p>
                                                    </div>
                                                    <div class="ft-tab-title">
                                                        <p>Hà Nội</p>
                                                    </div>
                                                    <div class="ft-tab-title">
                                                        <p>Đà nẵng</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-content">
                                                <div class="ft-tab-content active">
                                                    <ul class="tab-list">
                                                        <li class="tab-item">
                                                            Cao Ốc Văn phòng số : <a href="#" class="tab-link">
                                                                307/4 Nguyễn Văn Trỗi, Phường 1, Quận
                                                                Tân Bình, Thành Phố Hồ Chí Minh, Việt Nam
                                                            </a>
                                                        </li>

                                                        <li class="tab-item">
                                                            Tell: <a href="tel:(84)02839970670" class="tab-link">
                                                                (84) 028 3997 0670
                                                            </a>
                                                            /
                                                            <a href="tel:(84)02839976459" class="tab-link">
                                                                3997 6459
                                                            </a>
                                                        </li>

                                                        <li class="tab-item">
                                                            Fax: <a href="tel:+8402839974918" class="tab-link">(84) 028
                                                                3997 4918</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="ft-tab-content ">
                                                    <ul class="tab-list">
                                                        <li class="tab-item">
                                                            Cao Ốc Văn phòng số : <a href="#" class="tab-link">
                                                                307/4 Nguyễn Văn Trỗi, Phường 1, Quận
                                                                Tân Bình, Thành Phố Hồ Chí Minh, Việt Nam
                                                            </a>
                                                        </li>

                                                        <li class="tab-item">
                                                            Tell: <a href="tel:(84)02839970670" class="tab-link">
                                                                (84) 028 3997 0670
                                                            </a>
                                                            /
                                                            <a href="tel:(84)02839976459" class="tab-link">
                                                                3997 6459
                                                            </a>
                                                        </li>

                                                        <li class="tab-item">
                                                            Fax: <a href="tel:+8402839974918" class="tab-link">(84) 028
                                                                3997 4918</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="ft-tab-content">
                                                    <ul class="tab-list">
                                                        <li class="tab-item">
                                                            Cao Ốc Văn phòng số : <a href="#" class="tab-link">
                                                                307/4 Nguyễn Văn Trỗi, Phường 1, Quận
                                                                Tân Bình, Thành Phố Hồ Chí Minh, Việt Nam
                                                            </a>
                                                        </li>

                                                        <li class="tab-item">
                                                            Tell: <a href="tel:(84)02839970670" class="tab-link">
                                                                (84) 028 3997 0670
                                                            </a>
                                                            /
                                                            <a href="tel:(84)02839976459" class="tab-link">
                                                                3997 6459
                                                            </a>
                                                        </li>

                                                        <li class="tab-item">
                                                            Fax: <a href="tel:+8402839974918" class="tab-link">(84) 028
                                                                3997 4918</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ft-inner">
                                        <h4 class="ft-tt tt-18 t-uppercase">
                                            Liên kết
                                        </h4>
                                        <ul class="ft-list-menu">
                                            <li class="ft-item">
                                                <a href="#" class="ft-link active">Trang chủ</a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">Giới thiệu</a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">Sản phẩm</a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">Khách hàng</a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">Bảo hành</a>
                                            </li>
                                            <li class="ft-item">
                                                <a href="#" class="ft-link">Tuyển dụng</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="copy-right">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <input type="text" class="f-control" placeholder="Tìm kiếm ...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>