.main-cl {
    color: $main-cl;
}

.main-cl-2 {
    color: $main-cl-2;
}


.f-gg-sans {
    font-family: "Google Sans";
}

.box-social {
    display: flex;
    align-items: center;


    .social-item {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        transition: all .3s ease;

        &:nth-child(1) {
            background-color: #DC4E41;
        }

        &:nth-child(2) {
            background-color: #3B5998;
        }

        &:nth-child(3) {
            background-color: #EA412C;
        }

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}

.box-search {
    .search-title {
        margin-bottom: 15px;
    }

    .search-f {
        position: relative;

        &.not-btn {
            .f-control {
                padding: 12px 30px;

                @include max-media($bk-d-1200) {
                    padding: 12px 20px;
                }

                @include max-media($bk-992) {
                    padding: 12px 15px;
                }
            }
        }

        .f-control {
            border-color: rgba($color: $b-cl, $alpha: .3);
            border-radius: 99px;
            height: 40px;
            padding: 12px 60px 12px 30px;

            @include max-media($bk-d-1200) {
                padding: 12px 50px 12px 20px;
            }

            @include max-media($bk-d-992) {
                padding: 10px 45px 10px 15px;
            }

            &::placeholder {
                font-style: italic;
                color: rgba($color: $b-cl, $alpha: .3);
            }

            &:hover,
            &:focus {
                border-color: $main-cl;
            }
        }

        .f-submit {
            width: 50px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            outline: none;
            border: none;
            background-color: $main-cl-2;
            border-radius: 0 99px 99px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include max-media($bk-d-1200) {
                width: 40px;
            }

            img {
                filter: brightness(0) invert(1);
                width: 15px;
                height: 15px;
            }
        }
    }
}

.category {
    margin-top: 30px;

    @include max-media($bk-d-1024) {
        margin-top: 20px;
    }

    .cate-title {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        @include max-media($bk-d-1024) {
            margin-bottom: 10px;
        }

        img {
            padding-right: 9px;
            @include max-media($bk-d-1024){
                padding-right: 5px;
            }
        }
    }

    .cate-box {
        &:not(:first-child) {
            margin-top: 45px;

            @include max-media($bk-d-1200) {
                margin-top: 30px;
            }

            @include max-media($bk-d-1024) {
                margin-top: 20px;
            }
        }
    }

    .cate-content {
        padding-left: 24px;

        @include max-media($bk-d-1024) {
            padding-left: 20px;
        }
    }

    .cate-item {

        &:not(:first-child) {
            margin-top: 15px;

            @include max-media($bk-d-1024) {
                margin-top: 10px;
            }
        }

        .cate-link {
            line-height: 1.1;
            transition: all .3s ease;

            &:hover {
                color: $main-cl;
            }

            &.active {
                color: $main-cl;
            }
        }


    }
}

.product-bx {
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    background-color: $w-cl;
    height: 100%;

    &:hover {
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        border-color: transparent;

        .product-text {
            border-color: transparent;
        }

        .product-img {
            img {
                transform: scale(1.1);
            }
        }
    }

    .product-img {
        overflow: hidden;

        img {
            transition: all .3s ease;
        }
    }

    .product-text {
        padding: 20px;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        @include line-clamp(2);
    }

    .product-name {
        line-height: 1.1;
        transition: all .3s ease;
        color: $main-cl;
        @include line-clamp(2);
    }
}

.box-form {
    .bx-group {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;

        &:nth-child(2) {
            margin-top: 48px;
            @include max-media($bk-d-1200){
                margin-top: 30px;
            }
            @include max-media($bk-576){
                margin-top: 15px;
            }
        }

        .bx-f {
            width: calc(50% - 15px);
            position: relative;
            @include max-media($bk-576){
                width: 100%;
            }

            &:nth-child(1){
                @include max-media($bk-576){
                    margin-bottom: 20px;
                }
            }

            &.active{
                label{
                    font-size: 10px;
                    top: 8px;
                    color: #BF202F;
                    // transform: translateY(0);
                }
                .f-control{
                    padding: 20px 0 5px;
                }
            }

            label{
                left: 0;
                top: 50%;
                position: absolute;
                line-height: 1;
                font-style: italic;
                transform: translateY(-50%);
                color: rgba($color: $b-cl, $alpha: .4);
                pointer-events: none;
                transition: 0.2s linear;
            }
        }

        &:nth-child(1) {
            .bx-f {
                &:nth-child(1) {
                    .f-control {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .f-control {
        border: none;
        border-bottom: 1px solid rgba($color: $b-cl, $alpha: .1);
        border-radius: 0px;
        padding: 6px 0 8px;
        height: 40px;
        @include fz-16;
        font-weight: bold;
        // height: auto;
        // background-color: wheat;

        &::placeholder {
            font-weight: normal;
            color: rgba($color: $b-cl, $alpha: .4);
            font-style: italic;
        }

        &:focus,
        &:hover {
            border-color: $main-cl;
        }
    }

    .bx-f {
        width: 100%;

        &.mt-60 {
            margin-top: 60px;
            @include max-media($bk-d-1200){
                margin-top: 30px;
            }
        }
    }

    textarea.f-control {
        resize: none;
        height: 40px;
        font-weight: normal;
    }

    .bx-submit {
        text-align: right;
    }

    .f-submit {
        width: 140px;
        height: 41px;
        border-radius: 99px;
        background-color: $main-cl-2;
        color: $w-cl;
        @include fz-16;
        text-transform: none;
        margin-top: 30px;
        cursor: pointer;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        transition: all .3s ease;

        &:hover {
            background-color: $main-cl;
            letter-spacing: 1px;
        }
    }
}

//popup CV
.white-popup-block {
    &.block-cv {
        border-radius: 10px;
        padding: 80px 100px;
        max-width: 1170px;
        @include max-media($bk-d-1200){
            padding: 40px 30px;
        }
        @include max-media($bk-576){
            padding: 20px;
        }
    }
}

.block-cv {
    .application-title {
        margin-bottom: 44px;
        line-height: 1.1;
        @include max-media($bk-d-1200){
            margin-bottom: 30px;
        }
    }

    .applica-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .applica-group {
        &:not(:first-child) {
            margin-top: 30px;
            @include max-media($bk-576){
                margin-top: 20px;
            }
        }
    }

    .applica-f {
        width: calc(50% - 15px);
        @include max-media($bk-576){
            width: 100%;
        }
        &:nth-child(1){
            @include max-media($bk-576){
                margin-bottom: 20px;
            }
        }
    }

    .label {
        @include fz-16;
        font-weight: bold;
    }

    .f-control {
        margin-top: 10px;
        border-color: rgba($color: $b-cl, $alpha: .3);
        background-color: #F7F7F7;
        height: 60px;
        border-radius: 10px;
        padding: 15px 20px;
        @include fz-16;
        @include max-media($bk-d-1200){
            height: 40px;
            padding: 5px 20px;
        }

        &:hover,
        &:focus {
            border-color: $main-cl;
        }
    }

    .applica-file{
        margin-top: 25px;
    }

    .file-box{
        display: flex;
        align-items: center;
        &:nth-child(2){
            margin-top: 30px;
            @include max-media($bk-576){
                margin-top: 20px;
            }
        }
    }

    .file-f {
        margin-left: 30px;
        cursor: pointer;
        padding: 4px 30px;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        background-color: #F7F7F7;
        border-radius: 10px;
        flex-shrink: 0;
        @include  max-media($bk-576){
            padding: 4px 15px;
            margin-left: 10px;
        }

        &:active {
            background-color: #dddddd;
        }


        span{
            @include fz-16;
        }


        input {
            position: absolute;
            top: -1000px;
        }
    }

    .file-text{
        margin-left: 10px;
    }

    .f-submit{
        border-radius: 99px;
        background-color: $main-cl-2;
        color: $w-cl;
        @include fz-16;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        // padding: 10px 30px 9px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        margin-top: 30px;
        text-transform: none;
        @include max-media($bk-576){
            margin-top: 20px;
        }
        &:hover{
            background-color: $main-cl;
            letter-spacing: 1px;
        }
    }
}