.breadcrumb {
    width: 100%;

    &.bg-g-f2 {
        //background-color: $g-F2F0-cl;
    }

    .breadcrumb-menu {
        display: flex;
        border-bottom: 1px solid $main-cl;
        padding: 10px 0;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    content: '/';
                    font-family: "Fontawesome";
                    color:  $w-cl;
                    padding-right: 8px;
                    @include fz-18;
                }

                padding-left: 12px;
            }

            &.current{
                // color: $main-cl;
            }

            a {
                @include fz-18;
                
                transition: all .3s ease;

                @include max-media($bk-d-768) {
                    font-size: 13px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
