.pagination {
	padding-top: 25px;
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid rgba($color: #C4C4C4, $alpha: .5 );
	li {
		display: inline-block;
		vertical-align: middle;
		&:not(:first-child){
			margin-left: 7px;
		}
		.page-numbers {
			width: 44px;
			height: 44px;
			background-color: $g-F8F8-cl;
			border-radius: 6px;
			//color: $t-b-cl;
			transition: all .3 ease;
			@include lh(24, 14);
			@include flex-mid;

			@include max-media($bk-576){
				width: 38px;
				height: 38px;
			}

			&.current {
				background-color: $main-cl;
				color: $t-w-cl;
				font-weight: bold;
			}
			&:hover {
				background-color: $main-cl;
				color: $t-w-cl;
				font-weight: bold;
			}
		}

		.page-arrow{
			width: 44px;
			height: 44px;
			@include flex-mid;
			transition: all .3 ease;
			border-radius: 6px;
			@include max-media($bk-576){
				width: 38px;
				height: 38px;
			}
			&:hover {
				background-color: $main-cl;
				img{
					filter: brightness(0) invert(1);
				}
			}
		}
	}
}
