.catalog {
    overflow: hidden;

    .cata-wrapper {
        position: relative;
    }

    .cata-slide {
        max-width: 970px;
        max-width: 1070px;
        margin: 0 auto;
    }

    .swiper {
        overflow: visible;

    }

    .swiper-slide {
        &.swiper-slide-active {
            width: 100%;

            .cata-inner {
                .cata-img {
                    // margin: 0px;
                    transform: none;
                    box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

                    &::before {
                        transform: translateY(100%);
                    }
                }

                .cata-content {
                    transform: translateY(0);
                }
            }
        }
    }

    .swiper{
        @include max-media($bk-576){
            padding-bottom: 40px;
        }
    }

    .swiper-pagination{
        bottom: 0;
        @include hidden;
        @include max-media($bk-576){
            @include visible;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
        margin: 0;
        top: 35%;
        transform: translateY(-50%);

        @include max-media($bk-d-768) {
            top: 30%;
        }
        @include max-media($bk-576) {
        //    top: -5px;
        //    transform: translateY(-100%);
        //    width: 30px;
        //    height: 30px;
        //    border-radius: 100%;
        //    border: 1px solid $b-cl;
           display: none;
        }
       

        &::after {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 0;
            width: 100%;
            height: 100%;
            // @include max-media($bk-576){
            //     font-size: 14px;
            //     width: auto;
            //     line-height: 29px;
            //     color: $b-cl;
            // }
        }
    }

    .swiper-button-prev {
        left: 30px;

        @include max-media($bk-d-1200) {
            left: 0;
        }
        // @include max-media($bk-576) {
        //     left: auto;
        //     right: 40px;
        // }

        &::after {
            content: '';
            background-image: url('../img/svg/icon-prev.svg');
            // @include max-media($bk-576){
            //     background: none;
            //     content: 'prev';
            //     margin-right: 1px;
            // }
        }

    }

    .swiper-button-next {
        right: 30px;

        @include max-media($bk-d-1200) {
            right: 0;
        }

        &::after {
            content: '';
            background-image: url('../img/svg/icon-next.svg');
            // @include max-media($bk-576){
            //     background: none;
            //     content: 'next';
            //     margin-left: 1px;
            // }
        }
    }

    .cata-inner {
        overflow: hidden;

        .cata-img {
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            transform: scale(.8);
            margin: 0 50px;
            max-height: 500px;

            // @include max-media(1899px){
            //     transform: scale(.9);
            // }
            @include max-media($bk-576) {
                margin: 0;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $b-cl, $alpha: .4);
                border-radius: 10px;
                transition: all .3s ease;
            }

            img {
                border-radius: 10px;
            }
        }

        .cata-content {
            max-width: 470px;
            margin: 30px auto 0;
            text-align: center;
            transform: translateY(100%);
            transition: all .3s ease;

            @include max-media($bk-d-1024) {
                margin-top: 20px;
            }
        }

        .cata-title {
            margin-bottom: 15px;
            line-height: 1.1;

            @include max-media($bk-d-1024) {
                margin-bottom: 10px;
            }
        }

        .cata-desc {
            margin-bottom: 30px;
            line-height: 1.1;

            @include max-media($bk-d-1024) {
                margin-bottom: 20px;
            }
        }

        .cata-down {
            max-width: 340px;
            width: 100%;
            height: 44px;
            border-radius: 99px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $main-cl-2;
            color: $w-cl;
            transition: all .3s ease;
            @include max-media($bk-576){
                height: 40px;
                width: 260px;
            }

            &:hover {
                letter-spacing: 1px;
                background-color: $main-cl;
            }

            img {
                padding-left: 16px;
                filter: brightness(0) invert(1);
            }
        }
    }
}