.customer-service {
    overflow: hidden;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #EFF1F0;

    .column {
        &.service-tx {
            width: calc(100% / 12 * 3);
            @include max-media($bk-d-992){
                width: 100%;
            }
        }

        &.service-bx {
            width: calc(100% / 12 * 9);
            @include max-media($bk-d-992){
                width: 100%;
            }
        }
    }

    .service-title {
        line-height: 1.1;
        margin-bottom: 15px;
        br{
            @include max-media($bk-d-992){
                display: none;
            }
        }
     
    }

    .service-desc {
        line-height: 1.1;
    }

    .service-cols {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        @include max-media($bk-d-1024) {
            margin: -7.5px;
        }
    }

    .service-col {
        width: calc(100% / 3);
        padding: 15px;

        @include max-media($bk-d-1024) {
            padding: 7.5px;
        }
        
        @include max-media($bk-d-768){
            width: calc(100% / 2);
        }
        @include max-media($bk-576){
            width: 100%;
        }
    }

    .service-box {
        padding: 30px;
        text-align: center;
        background-color: $w-cl;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        transition: all .3s ease;
        border-radius: 10px;

        @include max-media($bk-d-1024) {
            padding: 20px;
        }

        &:hover {
            background-color: $main-cl;
            color: $w-cl;

            .service-img {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }

        .service-img {
            margin-bottom: 30px;
            @include max-media($bk-d-1024) {
                margin-bottom: 20px;
            }

            img {
                transition: all .3s ease;
                margin: 0 auto;
            }
        }

        .service-tt {
            margin-bottom: 14px;
            line-height: 1.1;
            @include max-media($bk-d-1024) {
                margin-bottom: 10px;
            }
        }

        .service-t {
            line-height: 1.1;
        }
    }
}

.warranty-policy {
    .policy-title {
        margin-bottom: 30px;
        @include max-media($bk-d-992){
            margin-bottom: 20px;
        }
        @include max-media($bk-576){
            margin-bottom: 15px;
        }
    }

    .policy-item {
        color: $w-cl;

        &:not(:first-child) {
            margin-top: 30px;
            @include max-media($bk-d-992){
                margin-top: 20px;
            }
        }

        .policy-box {
            &.active {
                .policy-tt {
                    border-radius: 10px 10px 0 0;
                }
            }
        }

        .policy-tt {
            background-color: $main-cl-2;
            padding: 19px 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            transition: all .3s ease;
            cursor: pointer;
            @include max-media($bk-d-992){
                padding: 15px 20px;
            }

            &::after {
                content: '';
                background-image: url('../img/svg/icon-plus.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                display: inline-block;
            }

        }

        .policy-content {
            padding: 30px;
            background-color: $w-cl;
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
            border-radius: 0 0 10px 10px;
            display: none;
            @include max-media($bk-d-992){
                padding: 20px;
            }
            @include max-media($bk-576){
                padding: 15px;
            }
        }

        .mona-content {
            color: $b-cl;

            p {
                line-height: 1.1;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }


    }
}