.page-product {
    overflow: hidden;

    .column {
        &.sibar {
            width: calc(100%/ 12 * 3);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.product-tx {
            width: calc(100% / 12 * 9);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }

    .product-inner {
        .column {
            width: calc(100% / 3);

            @include max-media($bk-d-768) {
                width: calc(100% / 2);
            }
        }
    }


    .product-bx {
        height: 100%;

        .product-text {
            @include max-media($bk-d-1024) {
                padding: 15px;
            }
            @include max-media($bk-576){
                padding: 10px;
            }
        }
    }

    &.custommer-pro {
        .product-bx {
            background-color: $g-E5E5-cl;
            // display: flex;
            // flex-direction: column;

            .product-img {
                padding: 30px;
                height: calc(100% - 75px);
                display: flex;
                align-items: center;
                @include max-media($bk-d-1024){
                    height: calc(100% - 65px);
                }
                @include max-media($bk-d-992){
                    height: calc(100% - 61px);
                    padding: 20px;
                }
                @include max-media($bk-576){
                    height: calc(100% - 51px);
                    padding: 20px 10px;
                }

                img {
                    margin: auto;
                }
            }

            .product-name {
                color: $b-cl;
            }

            .product-text {
                // margin-top: auto;
                background-color: $w-cl;
                @include max-media($bk-d-768){
                    min-height: 61px;
                }
                @include max-media($bk-d-768){
                    min-height: 51px;
                }
            }

        }
    }
}

.slide-certification {
    background-color: rgba($color: $main-cl, $alpha: .05);
    overflow: hidden;

    .certi-title {
        // margin-bottom: 30px;
    }

    .cerit-box {
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .16);
        overflow: hidden;

        img {
            border-radius: 10px;
        }
    }

    .swiper-certi {
        overflow: hidden;
        position: relative;
    }

    .swiper-custom {
        position: relative;
    }


    .swiper {
        margin: -15px;
        padding: 30px 0 35px;
    }

    .swiper-slide {
        width: calc(100% / 3);
        padding: 15px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;

        &::after {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;

        }


    }

    .swiper-button-prev {
        left: -30px;
        transform: translateX(-100%);

        &::after {
            content: '';
            background-image: url('../img/svg/icon-prev.svg');
        }
    }

    .swiper-button-next {
        right: -30px;
        transform: translateX(100%);

        &::after {
            content: '';
            background-image: url('../img/svg/icon-next.svg');
        }
    }

}